/* strat section stats */
.statistics
{
    background-size: cover;
    min-height: 300px;
}
.statistics .data
{
    min-height: 300px;
    color: #B6B5B5;
    padding-top: 40px;
    padding-bottom: 70px;
}
.statistics .stats
{
    margin-bottom: 30px;
    transition: 0.4s
}
.statistics h1
{
    margin-bottom: 60px;
}
.statistics p
{
    font-size: 45px;
    font-weight: bold;
    margin-bottom: 0;
}
.statistics span
{
    font-size: 17px;
}
.statistics .stats:hover
{
    color: #E41B17;
}

/* end section stats */
